In [3]:
import pandas as pd
import numpy as np

In [2]:
ratings=pd.read_csv('BX-Book-Ratings.csv',sep=';', encoding='latin-1')
books = pd.read_csv('BX-Books_mod.csv',sep=';', encoding='latin-1')
users = pd.read_csv('BX-Users.csv', sep=';', encoding='latin-1')

In [3]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
ratings['book_ID']=le.fit_transform(ratings.ISBN)

In [4]:
ratings.head()

   User-ID        ISBN  Book-Rating  book_ID
0   276725  034545104X            0    57188
1   276726  0155061224            5    29750
2   276727  0446520802            0   107392
3   276729  052165615X            3   127253
4   276729  0521795028            6   127287

In [5]:
from scipy import sparse

In [6]:
n_users = users['User-ID'].unique().shape[0]
n_items = ratings.ISBN.unique().shape[0]

In [7]:
pivot =sparse.lil_matrix((n_users, n_items))
for line in ratings.itertuples():
    pivot[line[1], line[4]] = line[3]+ 1e-9

In [23]:
def take_most_commun(piv,user):
    dic={}
    h = piv[user,:].toarray()>0
    for i in range(piv.shape[0]):
        if i != user:
            l = pivot[i,:].toarray()>0
            num=(h&l).sum()
            if num!=0:
                dic[i]=num
    return dic

In [4]:
np.mean([1,3,5])

3.0

In [24]:
take_most_commun(pivot,10)

{3675: 1,
 6366: 1,
 11676: 1,
 13872: 1,
 16654: 1,
 16673: 1,
 17183: 1,
 18384: 1,
 55217: 1,
 80908: 1,
 94985: 1,
 105476: 1,
 124888: 1,
 126644: 1,
 131126: 1,
 134556: 1,
 136633: 1,
 137437: 1,
 141518: 1,
 149634: 1,
 152107: 1,
 156502: 1,
 157118: 1,
 158627: 1,
 164533: 1,
 182987: 1,
 187810: 1,
 189750: 1,
 214920: 1,
 217740: 1,
 229501: 1,
 240440: 1,
 241268: 1,
 248325: 1,
 254982: 1,
 267172: 1}

In [21]:
l

array([[False, False, False, ..., False, False, False]], dtype=bool)

In [19]:
(m & g).sum()

0